.media
  = image_tag gravatar_url(user.email), alt: "Icon", size: '60x60'
  .media-body.text-center
    %font{:size => "5"}
      %strong= user.fullname
    %br
    %font{:size => "3"}
      = t("rating")
      - if user.average_rating <= 2
        %button.btn.btn-danger.btn-sm{:type => "badge"}= user.average_rating
      - elsif user.average_rating > 2 && user.average_rating < 4.5
        %button.btn.btn-warning.btn-sm{:type => "badge"}= user.average_rating
      - elsif user.average_rating >= 4.5
        %button.btn.btn-success.btn-sm{:type => "badge"}= user.average_rating
      - else
        %button.btn.btn-warning.btn-sm{:type => "badge"}= 0
      %br
    %br
    = button_to t("users.search.see_profile"), user_path(user), class: "btn btn-outline-info btn-sm", method: "get"
