.container.form-wrapper
  %table.table.table-striped
    %thead
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"} Full name
        %th{:scope => "col"} Rating
        %th{:scope => "col"} Tech count
    %tbody
      - @users.each_with_index do |user, i|
        %tr
          %th{:scope => "row"}= i+1
          %td= link_to user.fullname, user_path(user)
          %td= UserServices::AverageRating.new(user).call
          %td= user.technologies.size
          %td= link_to "Rate mentor", new_user_opinion_path(user), class: "badge badge-danger"
          %td.text-muted= link_to "Contact mentor", "#", class: "badge badge-dark"
