.container.form-wrapper
  .row
    .col-md-8.offset-2
      .progress
        .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: 50%;"} 50%
      = form_for @user, url: wizard_path do |f|
        .card.bg-light
          .card-body
            .form-row
              .form-group.col-md-6
                %h4= f.label :first_name, t(".first_name")
                %p= f.text_field :first_name, class: "form-control"
              .form-group.col-md-6
                %h4= f.label :last_name, t(".last_name")
                %p= f.text_field :last_name, class: "form-control"
            .form-group
              %h4= f.label :email, t(".email")
              %p= f.text_field :email, class: "form-control"
            .form-group
              %h4= f.label :location, t(".location")
              %p= f.text_field :location, class: "form-control"
            .form-group
              %h4= f.label :description, t(".description")
              %p= f.text_area :description, class: "form-control", rows: "9"
            .form-group
              %h4= f.label(:technologies, t(".technologies"))
              .row
                - Technology.all.each_slice(4) do |slice|
                  .col-md-3
                    .form-group
                      = f.collection_check_boxes :technology_ids, slice, :id, :name do |b|
                        = b.label class: "form-control" do
                          = b.check_box + " " + b.text
            .col-sm-6.offset-3
              = f.submit t(".next"), type: "submit", class: "btn btn-lg btn-danger btn-block"
