.container
  .row
    .col-md-8.offset-2
      .progress
        .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: 50%;"} 50%
      = form_for @user, url: wizard_path do |f|
        .card.bg-light
          .card-body
            .form-row
              .form-group.col-md-6
                %h4= f.label :first_name
                %p= f.text_field :first_name, class: "form-control"
              .form-group.col-md-6
                %h4= f.label :last_name
                %p= f.text_field :last_name, class: "form-control"
            .form-group
              %h4= f.label :email
              %p= f.text_field :email, class: "form-control"
            .form-group
              %h4= f.label :location
              %p= f.text_field :location, class: "form-control"
            .form-group
              %h4= f.label :description
              %p= f.text_area :description, class: "form-control", rows: "9"
            .form-group
              %h4= f.label(:technologies, "Choose your technologies")
              = f.select :technology_ids, options_from_collection_for_select(@technologies, :id, :name, {selected: @user.technologies.map(&:id) }), {}, { class: "form-control", multiple: true, size: 13 }
            .col-sm-6.offset-3
              = f.submit "Next", type: "submit", class: "btn btn-lg btn-info btn-block"
